<tr class="flight">
  <th scope="row"><%=flight.id%>0</th> 
  <td><%= Airport.find_by_id(flight.from_airport_id).code %></td>
  <td><%= Airport.find_by_id(flight.to_airport_id).code %></td>
  <td> ~<%= (flight.duration/60.0).round %> Hours</td>
</tr>
