@import "bootstrap";

div{
    color: black;
}

h1{
  text-align: center;
}

.flight{
  margin: 20px;
  background-color: gray;
  color:white;
  font: sans-serif;
   
}

.flightIndex{
  margin-top: 2.5em;
}

.form-control{
  margin-right: 1em;
}
