<div class="container head">
<div class="jumbotron header">

  <h1> <%= link_to "Flight Booker Inc", root_path%></h1>

</div>

<nav class="navbar navbar-light bg-faded">
  
    <a class="nav-item nav-link" href="#">Search Flight  |</a> 
    <a class="nav-item nav-link" href="#">  Find Reservation</a> 



</nav>
</div>
